<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.UserInfoDAO">

    <resultMap id="userMap" type="com.demo.entity.UserInfoEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="getList" resultMap="userMap">
        SELECT * FROM [user]
    </select>

    <insert id="addUser" parameterType="com.demo.entity.UserInfoEntity">
        INSERT INTO [user](name)
        VALUE(#{name})
    </insert>

</mapper>